body {
    font-family: sans-serif, "Times New Roman", serif;
    background-color: cyan;
}

h1,
h3 {
    font-size: 32px;
    font-weight: bold;
    background-color: yellow;
    margin: 20px auto;
    text-align: center;
}

button {
    display: block;
    background-color: palevioletred;
    font-size: 24px;
    padding: 20px;
    border-width: 5px;
    border-style: groove;
    border-color: gray;
    margin: 20px;
}

img {
    display: block;
    margin: 20px auto;
    border-width: 5px;
    border-style: groove;
    border-color: gray;
}

p {
    background-color: palevioletred;
    height: auto;
    text-align: center;
    border-width: 5px;
    border-style: groove;
    border-color: gray;
    padding: 10px;
    margin: 20px auto; 
}

.ingredients {
    background-color: palevioletred;
    width: 500px;
    height: auto;
    border-width: 5px;
    border-style: groove;
    border-color: gray;
    padding: 10px;
    margin: 20px auto;
}

.steps {
    background-color: palevioletred;
    width: 500px;
    height: auto;
    border-width: 5px;
    border-style: groove;
    border-color: gray;
    padding: 10px;
    margin: 20px auto;
}